<%template _header%>
<%if page_err==0%>

    <div id="nav">
        &raquo; <%if {forum.Pathlist}!=""%>{ShowForumAspxRewrite(forum.Pathlist.Trim(),forumid,forumpageid)}  &raquo; <%/if%>
    </div>
    
    <%if {ispost}%>
        <%template _msgbox%>
    <%else%>
        <form method="post" name="postform" action="" enctype="multipart/form-data">

            <%if {forum.applytopictype}==1 && {topictypeselectoptions}!=""&&{isfirstpost}%>
                 <div class="inbox">
                    <select name="typeid" id="typeid" selected="{topic.typeid}">{topictypeselectoptions}</select>
                 </div>
            <%/if%>

            <div class="inbox bt mtn">
                <span class="xw1">标题：</span>
                <input type="text" name="{config.antispamposttitle}" size="25" tabindex="6" value="{postinfo.title}" class="txt"/>
            </div>
            <div class="inbox">
                <textarea rows="5" cols="24" name="{config.antispampostmessage}" id="e_textarea" class="txt">{message}</textarea>
            </div>

            <%if {isseccode}%>
                <div class="inbox">
                    <%template _vcode%>
                </div>
            <%/if%>
            
            <input type="submit" id="postsubmit" name="topicsubmit" value="编辑帖子" />
        </form>
    <%/if%>
<%else%>
    <%if {ispost}%>
        <%csharp%>
            string backLink = HttpContext.Current.Request.RawUrl.ToString();
            SetBackLink(backLink.Contains("&cedit=yes") ? backLink : backLink + "&cedit=yes");
        <%/csharp%>
        <%template _errmsgbox%>
    <%else%>
        <%template _errmsgbox%>
	  <%/if%>
<%/if%>
<%template _copyright%>
<%template _footer%>




















