      <tbody><tr align="right">
          <td width="60px" class="PrivateBTSeedListGrayLS"><span>类别</span></td>
          <td width="70px" class="PrivateBTSeedListGrayR"><a title="">大小</a>/<a title="">文件</a></td>
          <td width="60px" class="PrivateBTSeedListGrayR"><a title="">种子</a>/<a title="">下载</a></td>
          <td width="60px" class="PrivateBTSeedListGrayR"><a title="">完成</a>/<a title="">TTL</a></td>
          <td width="120px" class="PrivateBTSeedListGrayREnd"><a>操作者/操作时间</a></td>
          <td class="PrivateBTSeedListGrayL">种子名称/操作内容</td>
          <td width="60px" class="PrivateBTSeedListGrayR">回复/查看</td>
          <td width="120px" class="PrivateBTSeedListGrayREnd"><a title="">发布者/发布时间</a></td>
        </tr>
      </tbody>