.fgbtf_roundimg
{
border-radius: 10px;
width:100%;
}
.wf-main{
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.wf-main .wf-cld
{
    position: absolute;
    margin-bottom: 10px;
    padding:10px;
    width: 214px;
    left: -9999px;
    top: -9999px;
    line-height:18px;
    border: 0px solid #999;
    border-radius: 10px;
    overflow: hidden;
}
.wf-cld .inner{
    position: absolute;
    left: -9999px;
    top: -9999px;
    margin-bottom: 5px;
    width: 73px;
    overflow: hidden;
    border: 1px solid #f00;
    border-radius: 3px;
}
.wf-cld .title{
    margin: 0 0 5px;
    padding: 5px;
    width: 63px;
    color: #f00;
    font-size: 14px;
}