<?xml version="1.0"?>
<ForumHotConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Enable>true</Enable>
  <ForumHotCollection>
    <ForumHotItemInfo>
      <Id>1</Id>
      <Enabled>1</Enabled>
      <Name>站务公告</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist>4</Forumlist>
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>3600</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>2</Id>
      <Enabled>1</Enabled>
      <Name>新手互助</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist>34</Forumlist>
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>120</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>3</Id>
      <Enabled>1</Enabled>
      <Name>跳蚤市场</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist>37</Forumlist>
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>120</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>4</Id>
      <Enabled>1</Enabled>
      <Name>校园资讯</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist>50</Forumlist>
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>3600</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>5</Id>
      <Enabled>1</Enabled>
      <Name>寻物招领</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist>55</Forumlist>
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>120</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>6</Id>
      <Enabled>1</Enabled>
      <Name>最新图片</Name>
      <Datatype>pictures</Datatype>
      <Sorttype>aid</Sorttype>
      <Forumlist>58,2,57,16,17,19,18,21,29,22,20,32,23,30,24</Forumlist>
      <Dataitemcount>9</Dataitemcount>
      <Forumnamelength>0</Forumnamelength>
      <Topictitlelength>60</Topictitlelength>
      <Cachetimeout>1</Cachetimeout>
      <Datatimetype>0</Datatimetype>
    </ForumHotItemInfo>
  </ForumHotCollection>
</ForumHotConfigInfo>