<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <enabled>true</enabled>
  <events>
    <Event key="TagEvent" time_of_day="-1" minutes="720" type="Discuz.Event.TagsEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="ForumEvent" time_of_day="150" minutes="1" type="Discuz.Event.ForumEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="ScriptEvent" time_of_day="-1" minutes="1" type="Discuz.Event.ScriptEvent, Discuz.Event" enabled="false" is_system_event="true" />
    <Event key="StatEvent" time_of_day="2" minutes="1440" type="Discuz.Event.StatEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="NoticesEvent" time_of_day="120" minutes="1440" type="Discuz.Event.NoticesEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="AttachmentEvent" time_of_day="2" minutes="1440" type="Discuz.Event.AttachmentEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="InvitationEvent" time_of_day="70" minutes="1" type="Discuz.Event.InvitationEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_WebEven" time_of_day="-1" minutes="10" type="Discuz.Event.PrivateBTWebEvent, Discuz.Event" enabled="false" is_system_event="false" />
    <Event key="FGBT_WebEvent" time_of_day="-1" minutes="10" type="Discuz.Event.PrivateBTWebEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_PeerEvent" time_of_day="-1" minutes="5" type="Discuz.Event.PrivateBTPeerEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_SeedEvent" time_of_day="-1" minutes="10" type="Discuz.Event.PrivateBTSeedEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_ForumStaticEvent bk0" time_of_day="3" minutes="1" type="Discuz.Event.PrivateBTForumStaticEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_ForumStaticEvent bk1" time_of_day="60" minutes="1" type="Discuz.Event.PrivateBTForumStaticEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_SendMsg" time_of_day="240" minutes="1" type="Discuz.Event.PrivateBTUserSendMsg, Discuz.Event" enabled="false" is_system_event="false" />
    <Event key="FGBT_invite" time_of_day="240" minutes="1" type="Discuz.Event.PrivateBTUserAddInviteKey, Discuz.Event" enabled="false" is_system_event="false" />
    <Event key="FGBT_InviteAward" time_of_day="-1" minutes="60" type="Discuz.Event.PrivateBTInviteAward, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_UserEvent bk0" time_of_day="10" minutes="1" type="Discuz.Event.PrivateBTUserEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_UserEvent bk1" time_of_day="20" minutes="1" type="Discuz.Event.PrivateBTUserEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_UserEvent bk2" time_of_day="30" minutes="1" type="Discuz.Event.PrivateBTUserEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_UserEvent bk3" time_of_day="40" minutes="1" type="Discuz.Event.PrivateBTUserEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="FGBT_UserEvent bk4" time_of_day="50" minutes="1" type="Discuz.Event.PrivateBTUserEvent, Discuz.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>